<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Opret</title>

    <!--/*/ <th:block th:include="Fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>


<!--/*/ <th:block th:replace="fragments/navbarBody :: navbar"></th:block> /*/-->

<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="container div-center">
            <h1 class="page-heading mb-3">Kvittering</h1>
        </div>
    </div>
    <div class="container confirmation mb-4">
        <div class="row confirmation-row-bg row-height">
            <span class="input-heading font-weight-bold span-padding">Kunde</span>
        </div>
        <div class="row border-bottom-purple row-height">
            <div class="col-sm-3 confirmation-col-bg">
            <span class="row-heading align-middle">Navn</span>
        </div>
            <div class="col-sm-3">
                <input class="border-0 input-receipt-width row-heading" th:field="${Customer.name}" readonly="readonly">
            </div>
        </div>
        <div class="row border-bottom-purple row-height">
            <div class="col-sm-3 confirmation-col-bg">
            <span class="row-heading align-middle">Firma</span>
            </div>
            <div class="col-sm-3">
                <input class="border-0 input-receipt-width row-heading" th:field="${Customer.firmName}" readonly="readonly">
            </div>
        </div>
        <div class="row border-bottom-purple row-height">
            <div class="col-sm-3 confirmation-col-bg">
            <span class="row-heading align-middle">Vej</span>
            </div>
            <div class="col-sm-3">
                <input class="border-0 input-receipt-width row-heading" th:field="${Customer.address}" readonly="readonly">
            </div>
        </div>
        <div class="row border-bottom-purple row-height">
            <div class="col-sm-3 confirmation-col-bg">
        <span class="row-heading align-middle">By</span>
            </div>
            <div class="col-sm-3">
                <input class="border-0 input-receipt-width row-heading" th:field="${Customer.city}" readonly="readonly">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 confirmation-col-bg row-height">
        <span class="row-heading align-middle">Postnummer</span>
            </div>
            <div class="col-sm-3">
                <input class="border-0 input-receipt-width row-heading" th:field="${Customer.postCode}" readonly="readonly">
            </div>
        </div>
        <div class="row confirmation-row-bg row-height">
            <span class="input-heading font-weight-bold span-padding">Pris</span>
        </div>
        <tr th:each="invoices:${invoiceList}">
        <div class="row border-bottom-purple row-height">
            <div class="col-sm-3 confirmation-col-bg">
            <span class="row-heading align-middle">Service</span>
            </div>
            <div class="col-sm-3">
                <td class="border-0 input-receipt-width row-heading" th:text="${invoices.service.name}">
            </div>

            <div class="col-sm-3 confirmation-col-bg">
            <span class="row-heading align-middle">Pris</span>
            </div>
            <div class="col-sm-3">
            <td class="border-0 input-receipt-width float-right text-right row-heading" th:text="${invoices.getPrice()}">
            </div>
        </div>


    </tr>

    <div class="row row-height">
        <div class="col-sm-6 receipt-bg"></div>
        <div class="col-sm-3 confirmation-row-bg">
            <span class="input-heading font-weight-bold align-middle">Total</span>
        </div>
    </div>
    </div>
    <!--Centreret knap-->
    <div class="container div-center">
        <button class="btn btn-success" type="submit">Godkend</button>
    </div>

</div>
</body>
</html>