<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Opret</title>

    <!--/*/ <th:block th:include="Fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>

<!--/*/ <th:block th:replace="fragments/navbarBody :: navbar"></th:block> /*/-->

<form method="post" action="/opretKunde">
    <!--Ydre boks-->
    <div class="jumbotron jumbotron-fluid">
        <!--Overskrift-->
        <div class="row">
            <div class="container div-center">
                <h1 class="page-heading mb-3">Opret kunde</h1>
            </div>
        </div>
        <div class="container input-bg input-padding mb-3">
            <div class="row">
            <div class="col-sm-3"></div>
            <div class="input-group mb-3 col-sm-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Firma</span>
                </div>
                <input type="text" class="form-control" th:field="${customer.firmName}" required="true">
            </div>
            </div>
            <div class="row">
            <div class="col-sm-3"></div>
            <div class="input-group mb-3 col-sm-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">Navn</span>
                </div>
                <input type="text" class="form-control" th:field="${customer.name}" required="true">
            </div>
            </div>
            <div class="row">
            <div class="col-sm-3"></div>
    <div class="input-group mb-3 col-sm-6">
        <div class="input-group-prepend">
            <span class="input-group-text">Vej</span>
        </div>
        <input type="text" class="form-control" th:field="${customer.address}" required="true">
    </div>
            </div>
                <div class="row">
                <div class="col-sm-3"></div>
<div class="input-group mb-3 col-sm-3">
    <div class="input-group-prepend">
        <span class="input-group-text">By</span>
    </div>
    <input type="text" class="form-control" th:field="${customer.city}" required="true">
</div>

<div class="input-group mb-3 col-sm-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Postnummer</span>
    </div>
    <input type="number" class="form-control" th:field="${customer.postCode}" required="true">
</div>
                    </div>

<!--Centreret knap-->
<div class="container div-center">
    <button class="btn btn-success" type="submit">Gem</button>
</div>
        </div>
    </div>
</form>
</body>
</html>