<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




    </select>

    <form action="#" th:action="@{/save}" th:object="${Invoices}"
          method="post">










            <tbody>

            <select name="customer" id="customer">
                <option th:each="customer:${Customer}" th:text="${customer.getFirmName()}">
                </option>
            </select>


            <tr th:each="invoice, itemStat : *{invoiceArrayList}">
                <td><input th:field="*{invoiceArrayList[__${itemStat.index}__].unit}" id="unit" /></td>
                <td><input th:field="*{invoiceArrayList[__${itemStat.index}__].price}" id="result" /></td>

                <select>
                    <option th:each="service  :${Service}" th:text="${service.name}">
                     <input  type="hidden" th:field="*{invoiceArrayList[__${itemStat.index}__].service.id}">
                        <input  type="hidden" th:field="${service.getId()}">
                        <input  type="hidden" th:field="${service.getPrice()}" id="serviceprice">
                    </option>
                </select>



            </tr>






            </tbody>




        <button onclick="myFunction()" type="button">calculate</button>






    </tr>

    <div class="container div-center">


    </div>

        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
    </form>













<script>
    function myFunction() {
        var unit =document.getElementById("unit").value ;

        var price = document.getElementById("serviceprice").value;

        console.log(unit);
        console.log(price);

        var result=unit*price;
        console.log(result);
        document.getElementById("result").innerText = "kr;" + result;

    }
</script>


</body>



</html>