<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Opret</title>

    <!--/*/ <th:block th:include="Fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>

<!--/*/ <th:block th:replace="fragments/navbarBody :: navbar"></th:block> /*/-->

<form method="post" action="/opretService">
    <!--Ydre boks-->
    <div class="jumbotron jumbotron-fluid">
        <!--Overskrift-->
        <div class="row">
            <div class="container div-center">
                <h1 class="page-heading mb-3">Opret kunde</h1>
            </div>
        </div>
    </div>
        <div class="col-sm-3"></div>
        <div class="input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text">Kunde Firmanavn</span>
            </div>
                    <input type="text" class="form-control" th:field="${customer.firmName}" placeholder="Kunde" required="true">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="col-sm-3"></div>
    <div class="input-group mb-3 col-sm-6">
        <div class="input-group-prepend">
            <span class="input-group-text">Kunde navn</span>
        </div>
            <input type="text" class="form-control" th:field="${customer.name}" placeholder="Navn" required="true">
    </div>
        <div class="col-sm-3"></div>
            </div>
        </div>
            <div class="col-sm-3"></div>
        <div class="input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text">Kunde adresse</span>
            </div>
            <input type="text" class="form-control" th:field="${customer.address}" placeholder="Adresse" required="true">
        </div>
        <div class="col-sm-3"></div>
    </div>
            <div class="col-sm-3"></div>
    <div class="input-group mb-3 col-sm-6">
        <div class="input-group-prepend">
            <span class="input-group-text">Kunde by</span>
        </div>
        <input type="text" class="form-control" th:field="${customer.city}" placeholder="By" required="true">
    </div>
    <div class="col-sm-3"></div>
    </div>

    <div class="col-sm-3"></div>
    <div class="input-group mb-3 col-sm-6">
        <div class="input-group-prepend">
            <span class="input-group-text">Kunde postnr</span>
        </div>
        <input type="number" class="form-control" th:field="${customer.postCode}" placeholder="Postnr" required="true">
    </div>
    <div class="col-sm-3"></div>
    </div>
    <!--Centreret knap-->
    <div class="container div-center">
        <button class="btn btn-success" type="submit">Gem</button>
    </div>
    </div>
</form>
</body>
</html>