<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>
<form class="form-signin" method="post" action="/kalender">
    <!--/*/ <th:block th:replace="fragments/navbarBody :: navbar"></th:block> /*/-->

    <div class="jumbotron jumbotron-fluid">
        <!--Overskrift-->
        <div class="row">
            <div class="container div-center">
                <h1 class="page-heading mb-3">Statistik</h1>
            </div>
        </div>

        <div class="container input-bg input-padding">
            <table class="table table-striped table-list">
                <thead>
                <tr>
                    <th scope="col">Mandag</th>
                    <th scope="col">Tirsdag</th>
                    <th scope="col">Onsdag</th>
                    <th scope="col">Torsdag</th>
                    <th scope="col">Fredag</th>
                    <th scope="col">Lørdag</th>
                    <th scope="col">Søndag</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>
                    <textarea class="form-control" type="text" th:field="${schedule.monDay}"   style="height: 389px;"></textarea>                </td>
                <td>
                    <textarea class="form-control" type="text" th:field="${schedule.tuesDay}"   style="height: 389px;"></textarea>                </td>
                <td>
                    <textarea class="form-control" type="text"  th:field="${schedule.wednesday}"  style="height: 389px;"></textarea>                </td>
                <td>
                    <textarea class="form-control" type="text" th:field="${schedule.thursDay}"   style="height: 389px;"></textarea>                </td>
                <td>
                    <textarea class="form-control" type="text" th:field="${schedule.friDay}"   style="height: 389px;"></textarea>                </td>
                <td>
                    <textarea class="form-control" type="text" th:field="${schedule.saturDay}"   style="height: 389px;"></textarea>                </td>
                <td>
                    <textarea class="form-control" type="text" th:field="${schedule.sunDay}"   style="height: 389px;"></textarea>                </td>
                </tr>
                </tbody>
            </table>
            <div class="container div-center">
                <button class="btn btn-success" type="submit">Gem</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>
<textarea class="form-control" type="text" required="true" id="tuesDay" name="tuesDay" style="height: 389px;"></textarea>