<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->

</head>


<body>

<!--/*/ <th:block th:replace="fragments/navbarBody :: navbar"></th:block> /*/-->

<div class="jumbotron jumbotron-fluid">
    <!--Overskrift-->
    <div class="row">
        <div class="container div-center">
            <h1 class="page-heading mb-3">Sendte Faktura</h1>
        </div>
    </div>

        <div class="container input-bg input-padding">
            <table class="table table-striped table-list">
                <thead>
                <tr>
                    <th scope="col">Firma:</th>
                    <th scope="col">kunde navn:</th>
                    <th scope="col">email:</th>
                    <th scope="col">Total pris:</th>
                    <th scope="col">betalt:</th>
                    <th scope="col">regningnr:</th>

                <tbody>
                <tr th:each="invoice, itemStat : *{invoiceList}">
                    <td th:text="${invoice.firmName}"></td>
                    <td th:text="${invoice.name}"></td>
                    <td th:text="${invoice.email}"></td>
                    <td th:text="${invoice.totalPris}"></td>
                    <td th:text="${invoice.paid}"></td>
                    <td th:text="${invoice.invoiceId}"></td>
                    <td>
                        <a th:href="@{'/redigerFaktura?id='+${invoice.getInvoiceId()}}" class="btn-sm btn-primary">Rediger</a>
                        <a th:href="@{'/sletFaktura?id='+${invoice.getInvoiceId()}}"
                           onclick="return confirm('Bekræft sletning')" class="btn-sm btn-danger">Slet</a>
                        <a th:href="@{'/markereregning?id='+${invoice.getInvoiceId()}}"
                           class="btn-sm btn-success" onclick="return confirm('regning betalt?')" >betalt</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="container div-center">
                <a class="btn btn-success" href="/opretFaktura">Opret</a>
            </div>
    </div>
</div>
</body>
</html>