<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--/*/ <th:block th:include="Fragments/navbarHead :: head"></th:block> /*/-->


<body>
<!--/*/ <th:block th:replace="fragments/navbarBody :: navbar"></th:block> /*/-->

<div class="jumbotron jumbotron-fluid">
    <!--Overskrift-->
    <div class="row">
        <div class="container div-center">
            <h1 class="page-heading mb-3">Statistik</h1>
        </div>
    </div>

    <div class="container input-bg input-padding">
        <table class="table table-striped table-list">
            <thead>
            <tr>
                <th scope="col">Måned</th>
                <th scope="col">Kvatal</th>
                <th scope="col">År</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:each="statistic:${statistics}" th:text="${statistic}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>